#img-bg{

    background-image: url('https://i.imgur.com/y83Oedm.png');

    height:935px;
   
   background-position: center;
    background-repeat: no-repeat;
   background-size: 900px;

    
}

.bg{
    background-color: rgb(182, 245, 224);
}

.margem{
    position: relative;
    padding-top: 200px;
}

.m-b{
    padding-top: 20px;
}